In [109]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [110]:
# file_path = 'spam.csv'
# try:
#     df = pd.read_csv(file_path, encoding='latin-1')
#     # Process the DataFrame 'df' here
# except UnicodeDecodeError as e:
#     print(f"Error decoding the file: {e}")

In [111]:
df= pd.read_csv(file_path, encoding='latin-1')
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [156]:
df['v2'].iloc[2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [112]:
df=df.where((pd.notnull(df)),'')

In [113]:
df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [114]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [115]:
df.tail()

        v1                                                 v2
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [117]:
df.shape

(5572, 2)

In [118]:
df.isnull().sum()

v1    0
v2    0
dtype: int64

In [119]:
df.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [120]:
df['v1'].unique()

array(['ham', 'spam'], dtype=object)

In [121]:
df.duplicated().sum()

403

In [122]:
df.drop_duplicates(subset=['v1', 'v2'],inplace=True)

In [123]:
df.shape

(5169, 2)

In [124]:
df.loc[df['v1']=='spam','v1']=0
df.loc[df['v2']=='ham','v2']=1

In [125]:
X=df['v2']
Y=df['v1']

In [126]:
print(X)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5169, dtype: object

In [127]:
print(Y)

0       ham
1       ham
2         0
3       ham
4       ham
       ...
5567      0
5568    ham
5569    ham
5570    ham
5571    ham
Name: v1, Length: 5169, dtype: object

In [128]:
X_train,X_test , Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=3 )

In [129]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5169,)
(4135,)
(1034,)

In [130]:
print(Y.shape)
print(Y_train.shape)
print(Y_test.shape)

(5169,)
(4135,)
(1034,)

In [ ]:
# from sklearn.feature_extraction.text import TfidfVectorizer
# from sklearn.preprocessing import LabelEncoder

# # Use LabelEncoder to encode the labels
# label_encoder = LabelEncoder()

# # Convert Y_train and Y_test to strings
# Y_train_str = Y_train.astype(str)
# Y_test_str = Y_test.astype(str)

# feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
# X_train_features=feature_extraction.fit_transform(X_train)
# X_test_features=feature_extraction.transform(X_test)
# Y_train_encoded = label_encoder.fit_transform(Y_train)
# Y_test_encoded = label_encoder.transform(Y_test)
# # Y_train=Y_train.astype('int')
# # Y_test=Y_test.astype('int')

In [138]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder

# Use LabelEncoder to encode the labels
label_encoder = LabelEncoder()

# Assuming Y_train and Y_test are Series representing the labels
# Convert Y_train and Y_test to strings if they are not already
Y_train_str = Y_train.astype(str)
Y_test_str = Y_test.astype(str)

feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase=True)
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

# Use LabelEncoder to encode the string labels
Y_train_encoded = label_encoder.fit_transform(Y_train_str)
Y_test_encoded = label_encoder.transform(Y_test_str)

In [139]:
print(X_train)

4443                       COME BACK TO TAMPA FFFFUUUUUUU
982     Congrats! 2 mobile 3G Videophones R yours. cal...
3822    Please protect yourself from e-threats. SIB ne...
3924       As if i wasn't having enough trouble sleeping.
4927    Just hopeing that wasnÛ÷t too pissed up to re...
                              ...
806      sure, but make sure he knows we ain't smokin yet
990                                          26th OF JULY
1723    Hi Jon, Pete here, Ive bin 2 Spain recently & ...
3519    No it will reach by 9 only. She telling she wi...
1745    IåÕm cool ta luv but v.tired 2 cause i have be...
Name: v2, Length: 4135, dtype: object

In [141]:
print(X_train_features)

  (0, 2697)	0.7205755344386542
  (0, 6409)	0.5950532917415522
  (0, 1825)	0.35592482233751443
  (1, 5438)	0.27399320458839144
  (1, 4583)	0.27399320458839144
  (1, 4438)	0.22516921191243092
  (1, 5036)	0.27399320458839144
  (1, 2274)	0.27399320458839144
  (1, 2920)	0.23390504161994488
  (1, 3610)	0.27399320458839144
  (1, 4984)	0.19732502227978832
  (1, 4180)	0.23390504161994488
  (1, 7137)	0.24133495616477563
  (1, 6940)	0.27399320458839144
  (1, 203)	0.27399320458839144
  (1, 6941)	0.27399320458839144
  (1, 453)	0.25698446420786897
  (1, 4333)	0.15929709793058355
  (1, 1885)	0.22516921191243092
  (2, 953)	0.26160275768603725
  (2, 4856)	0.26160275768603725
  (2, 5786)	0.26160275768603725
  (2, 2459)	0.22436535516409714
  (2, 4960)	0.26160275768603725
  (2, 5976)	0.1902832473629628
  :	:
  (4132, 6862)	0.11085392369947865
  (4132, 5612)	0.14854309693836068
  (4132, 3865)	0.16898098428277844
  (4133, 6457)	0.6154177820886059
  (4133, 5320)	0.5530764956488926
  (4133, 2311)	0.4238274869992768
  (4133, 3771)	0.36842584696755415
  (4134, 4632)	0.2852228597337175
  (4134, 3508)	0.2852228597337175
  (4134, 5982)	0.2623257437582278
  (4134, 3585)	0.2718289055133927
  (4134, 6095)	0.2623257437582278
  (4134, 4980)	0.24893178953790301
  (4134, 1608)	0.22890896872799293
  (4134, 5751)	0.21866344863800888
  (4134, 6383)	0.24893178953790301
  (4134, 3967)	0.23205740285833368
  (4134, 2297)	0.23205740285833368
  (4134, 6596)	0.2355378353175782
  (4134, 5998)	0.2549545188338234
  (4134, 7181)	0.20454345297905668
  (4134, 1923)	0.19363439583175862
  (4134, 1571)	0.18164633700356694
  (4134, 4068)	0.20454345297905668
  (4134, 3038)	0.13885722635220862

In [142]:
model=LogisticRegression()

In [146]:
model.fit(X_train_features,Y_train_encoded)

LogisticRegression()

In [147]:
prediction_on_training_data=model.predict(X_train_features)
accuracy_on_training_data=accuracy_score(Y_train_encoded,prediction_on_training_data)

In [148]:
print('accuracy on training data:',accuracy_on_training_data )

accuracy on training data: 0.962273276904474

In [149]:
prediction_on_test_data=model.predict(X_test_features)
accuracy_on_test_data=accuracy_score(Y_test_encoded,prediction_on_test_data)

In [150]:
print('accuracy on test data:',accuracy_on_test_data )

accuracy on test data: 0.960348162475822

In [159]:
#breaking a predictive system
input_your_mail=["Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"]
input_data_features=feature_extraction.transform(input_your_mail)
prediction=model.predict(input_data_features)
print(prediction)

if(prediction[0]==1):
    print('Ham mail')
else:
    print('Spam mail')

[0]
Spam mail